.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;

  &--grid {
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;

    // media query - phone size
    @include respond(phone) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .logo-col {
    display: flex;
    flex-direction: column;

    // media query - phone size
    @include respond(phone) {
      grid-column: span 3;
    }
  }

  .contacts {
    font-style: none;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  .address {
    margin-bottom: 2.4rem;

    &-col {
      // media query - phone size
      @include respond(phone) {
        grid-column: span 3;
      }
    }
  }

  &-logo {
    display: block;
    margin-bottom: 2.2rem;
  }

  &-heading {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 4rem;
  }

  &-nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &-link {
    &:link,
    &:visited {
      text-decoration: none;
      font-size: 1.6rem;
      color: #767676;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: #555;
    }
  }

  .social {
    &-links {
      list-style: none;
      display: flex;
      gap: 2.4rem;
    }

    &-icon {
      height: 2.4rem;
      width: 2.4rem;
    }
  }

  &-copyright {
    font-size: 1.4rem;
    line-height: 1.6;
    color: #767676;
    margin-top: auto;
  }
}

.nav-col {
  // media query - phone size
  @include respond(phone) {
    grid-row: 1;
    grid-column: span 2;
    margin-bottom: 3.2rem;
  }
}
