.section {
  &-how {
    padding: 9.6rem 0;

    .step {
      &-number {
        font-size: 8.6rem;
        font-weight: 600;
        color: #ddd;
        margin-bottom: 1.2rem;
      }

      &-img {
        &-box {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &::before {
            @include pseudo-circle;
            z-index: -2;
            width: 60%;
            // height: 60%; - hack used here, as height with % won't work
            padding-bottom: 60%;
            background-color: #fdf2e9;
          }

          &::after {
            @include pseudo-circle;
            z-index: -1;

            width: 45%;
            // height: 60%; - hack used here, as height with % won't work
            padding-bottom: 45%;
            background-color: #fae5d3;
          }
        }
        width: 35%;

        // media query - tablet landscape size
        @include respond(tab-land) {
          width: 30%;
        }
      }

      &-description {
        font-size: 1.8rem;
        line-height: 1.8;
      }
    }
  }
}
