.section {
  &-how {
    padding: 9.6rem 0;

    .step {
      &-number {
        font-size: 8.6rem;
        font-weight: 600;
        color: #ddd;
        margin-bottom: 1.2rem;
      }

      &-img {
        &-box {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        width: 35%;
      }

      &-description {
        font-size: 1.8rem;
        line-height: 1.8;
      }
    }
  }
}
