.section {
  &-pricing {
    padding: 9.6rem 0;

    .list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;

      &-item {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        gap: 1.6rem;
        line-height: 1.2;
      }

      &-icon {
        width: 3rem;
        height: 3rem;
        color: #e67e22;
      }
    }

    .pricing-plan {
      // background-color: #fdf2e9;
      border-radius: 11px;
      padding: 4.8rem;
      width: 75%;

      &--starter {
        justify-self: center;
        border: 2px solid #fdf2e9;
        padding: 4.6rem;
      }

      &--complete {
        background-color: #fdf2e9;
        padding: 4.8rem;
        position: relative;
        overflow: hidden;

        &::after {
          content: "Best value";
          position: absolute;
          top: 6%;
          right: -18%;

          text-transform: uppercase;
          font-size: 1.4rem;
          font-weight: 700;
          background-color: #ffd43b;
          padding: 0.8rem 8rem;
          transform: rotate(45deg);
        }
      }
    }

    .plan {
      &-header {
        text-align: center;
        margin-bottom: 4.8rem;
      }
      &-name {
        color: #cf711f;
        font-weight: 600;
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: 0.75;
        margin-bottom: 3.2rem;
      }
      &-price {
        font-size: 7.4rem;
        font-weight: 600;
        color: #333;
        margin-bottom: 1.6rem;

        span {
          font-size: 3rem;
          font-weight: 500;
          margin-right: 0.8rem;
        }
      }
      &-text {
        font-size: 1.6rem;
        line-height: 1.6;
        color: #6f6f6f;
      }

      &-sign-up {
        text-align: center;
        margin-top: 4.8rem;
      }

      &-details {
        font-size: 1.6rem;
        line-height: 1.6;
        text-align: center;
      }
    }

    .feature {
      &-icon {
        color: #e67e22;
        height: 3.2rem;
        width: 3.2rem;
        background-color: #fdf2e9;
        margin-bottom: 3.2rem;
        padding: 1.6rem;
        border-radius: 50%;
      }
      &-title {
        font-size: 2.4em;
        color: #333;
        font-weight: bold;
        margin-bottom: 1.6rem;
      }
      &-text {
        font-size: 1.8rem;
        line-height: 1.8;
      }
    }
  }
}
