.section {
  &-testimonials {
    padding: 9.6rem 0;

    .testimonial {
      &s {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4.8rem;
      }

      &-img {
        width: 6.4rem;
        border-radius: 50%;
        margin-bottom: 1.2rem;
      }

      &-text {
        font-size: 1.8rem;
        line-height: 1.8;
        margin-bottom: 1.6rem;
      }

      &-name {
        font-size: 1.6rem;
        color: #777;
      }
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.6rem;
      &-item {
        img {
          display: block;
          width: 100%;
          // border-radius: 50%;
          // padding: 20px;
        }
      }
    }
  }
}
