.section {
  &-testimonials {
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;
    background-color: #fdf2e9;

    // media query - tablet port size
    @include respond(tab-port) {
      grid-template-columns: 1fr;
    }

    .testimonial {
      &s {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 4.8rem;
        column-gap: 8rem;

        &-container {
          padding: 9.6rem;

          // media query - tablet landscape size
          @include respond(tab-land) {
            padding: 3.6rem 3.2rem;
          }
        }

        // media query - phone-small size
        @include respond(phone-small) {
          grid-template-columns: 1fr;
        }
      }

      &-img {
        &-container {
          width: 6.4rem;
          height: 6.4rem;
          overflow: hidden;
          border-radius: 50%;
        }

        width: 100%;
        // border-radius: 50%;
        margin-bottom: 1.2rem;
        transition: all 0.3s;

        &:hover {
          transform: scale(1.08);
        }
      }

      &-text {
        font-size: 1.8rem;
        line-height: 1.8;
        margin-bottom: 1.6rem;
      }

      &-name {
        font-size: 1.6rem;
        color: #6f6f6f;
      }
    }

    .gallery {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.6rem;
      padding: 1.6rem;

      // media query - tablet port size
      @include respond(tab-port) {
        grid-template-columns: repeat(6, 1fr);
      }

      // media query - phone-small size
      @include respond(phone-small) {
        grid-template-columns: repeat(4, 1fr);
        gap: 1.2rem;
      }

      &-item {
        overflow: hidden;
        img {
          display: block;
          width: 100%;
          border-radius: 3px;
          transition: all 0.3s;
          // border-radius: 50%;
          // padding: 20px;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
