.margin-right-sm {
  margin-right: 1.6rem;
}
.margin-bottom-sm {
  margin-bottom: 2.6rem;
}

// redefine strong tag
strong {
  font-weight: 500;
}

// .u-center-text {
//     text-align: center !important;
// }

// global links
// a {
//   // &,
//   &:link,
//   &:visited {
//     &:hover {
//       cursor: pointer;
//     }
//   }
//   &:active,
//   &:focus {
//   }
// }
